main {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

p {
    font-size: 30px;
}

button {
    background-color: white;
    color: black;
    font-size: 50px;
    border-radius: 20%;
    padding: 20px;
}